* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&display=swap');

    &:root {
        --color-primary: #1A202C;
        --font-primary: 'Lato', sans-serif;
        --font-secundary: 'Merriweather', serif;
    } 
}
